ansible-core==2.14.14
async-timeout==4.0.3
blessed==1.20.0
bpython==0.24
cffi==1.14.5
chardet==4.0.0
cockpit @ file:///builddir/build/BUILD/cockpit-300.1/tmp/wheel/cockpit-300.1-py3-none-any.whl
colorama==0.4.6
colorlog==6.8.2
cryptography==36.0.1
curtsies==0.4.2
cwcwidth==0.1.9
dasbus==1.4
dbus-python==1.2.18
distro==1.5.0
file-magic==0.4.0
gpg==1.15.1
greenlet==3.0.3
idna==2.10
libcomps==0.1.18
lxml==4.6.5
nftables==0.1
packaging==20.9
perf==0.1
pexpect==4.8.0
ply==3.11
psutil==5.8.0
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.18.0
PyGObject==3.40.1
pyparsing==2.4.7
PySocks==1.7.1
python-consul==1.1.0
python-dateutil==2.8.1
python-linux-procfs==0.7.0
pyudev==0.22.0
pyxdg==0.28
PyYAML==5.4.1
redis==5.0.4
requests==2.25.1
resolvelib==0.5.4
rpm==4.16.1.3
selinux==3.5
sepolicy==3.5
setools==4.4.3
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.32/src
six==1.15.0
sos==4.6.0
systemd-python==234
urllib3==1.26.5
wcwidth==0.2.13